@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');


main div {
    /*border: 1px solid limegreen;*/
}



* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    color: #34495E;
}

body::-webkit-scrollbar {
    display: none;
}


a {
    text-decoration: none;
    color: #000;
}


.unselectable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

li {
    list-style-type: none;
}

header {
    position: relative;
}

#main-nav {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    position: fixed;
    width: 100%;
    background-color: #fff;
    align-items: center;

}

#main-nav .logo {
    font-weight: 600;
    font-size: 1.5em;
}

.nav-links {
    width: 400px;

}

.social {
    /*width: 200px;*/
    display: flex;
    justify-content: space-between;
    width: 250px;
    font-size: 1.5em;
    margin-top: 2em;
}

.social a {
    color: #34495E;
}



#home .github:hover a {
    color: #171515;
}

#home .linkedin:hover a {
    color: #0072b1;
}

#home .twitter:hover a {
    color: #1DA1F2;
}

#home .instagram:hover a {
    color: d6249f;
}

#main-nav ul {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}

#main-nav ul a {
    color: #34495E;
    position: relative;
}

#main-nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: red;
    opacity: 0;
    transition: all ease .25s;
}

#main-nav ul li:hover a::before {
    opacity: 1;
}

#main-nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: red;
    opacity: 0;
}


#main-nav ul li.active a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: red;
    opacity: 1;
}


main .container {
    height: 100vh;
    display: flex;
    width: 100%;
}

.container div {
    width: 50%;

}

.text {
    padding-left: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh
}

.text h3 {
    font-weight: 400;
    position: relative;
    color: #34495E;
    z-index: -1;
}

.text h3::after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: 2px;
}

.text>h1 {
    font-size: 4em;
}

.text .typed-text {
    display: flex;
    margin-bottom: 1em;
    color: #34495E;
}

.text .typed-text span {
    color: #000;
}


.typed-text h1:first-child {
    margin-right: .5em;
}

.typed-cursor {
    color: red;
    font-weight: 100;
}



#work {
    height: 100vh;
}

.email-container {
    margin-top: 1em;
}

.email-container a {
    display: flex;
    color: #34495E;
}

.email-container p {
    /*font-family: 'Consolas', sans-serif ;*/
}

.email-container svg {
    width: 18px;
    margin-left: 1em;
}

.email-container:hover a,
.email-container:hover #Layer_1 {
    color: #000;
    fill: #000;
}

#home .typed-cursor {
    color: red;
    font-weight: 100;
}

.image img {
    width: 600px;
    margin-top: 1em;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */


@media (max-width: 700px) {
    #main-nav .nav-links {
        display: none;
    }


    #secondary-nav {
        display: flex;
    }

    #secondary-nav .nav-links {
        display: flex;
    }
}





@media (max-width: 520px) {

    #main-nav .logo {
        font-weight: 600;
        font-size: 1em;
    }

    .container {
        flex-direction: column;
    }

    .container div {
        width: 100%;
    }

    .text {
        height: 40vh;
        padding-left: 2em;
        margin-top: 6em;
    }

    .text>h1 {
        font-size: 2em;
    }

    .text .typed-text h1 {
        font-size: 1.5em;

    }

    .text .typed-text {
        /*flex-direction: column;*/
    }

    #main-nav .nav-links {
        display: none;
    }

    #name {
        margin: .2em 0;
    }

    .email-container {
        margin-top: 2em;
    }

    .image {
        text-align: center;
        height: 30vh;
    }

    .image img {
        width: 300px;
    }

}